@import './modules/fonts.scss';
@import './modules/color.scss';

.heading{
    @include text-40;
    text-align: center;
    margin: 32px 0px;
    font-weight: 800;
}

.subheading{
    color: #4A5568;
    @include text-16-normal;
    text-align: justify;
}

.tableheading{
    @include text-32;
}

.border-color{
    border-bottom: solid black 1px;
}

.highlight{
    font-weight: bold;
}
.careerText{
    @include text-24;
}

.background{
    background-color: $brand-color;
}